body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  background-color: #e4e2e2;
}

.header {
  text-align: center;
  padding: 2.5px 0px;
  margin: 10px 0px;
  color: white;
  width: 95%;
  background-color: rebeccapurple;
}

.main {
  margin: 0px 20%;
  padding: 12px;
  width: 55%;
  background-color: white;
  box-shadow: 4px 6px 12px 1px black;
}

input {
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.common-form,
#gender {
  margin: 10px 0px;
  width: 95%;
  height: 40px;
  border-radius: 2px;
  padding: 10px;
}

.date {
  display: inline-block;
  width: 31%;
}
#day,
#month,
#year {
  margin: 10px 0px;
  width: 100%;
  height: 40px;
  padding: 10px;
}

span {
  margin: 10px 0px;
  display: block;
  font-weight: bold;
}

textarea {
  width: 95%;
  height: 110px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

textarea:focus {
  border: 2px solid #ccc;
}

.btn-group {
  margin: 10px 0px;
}

.btn {
  width: 47.5%;
  height: 40px;
  box-sizing: border-box;
  font-size: large;
  color: white;
  border: none;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: rgb(144, 84, 204) !important;
}

button[type="reset"]:hover {
  background-color: #6c757d !important;
}

@media only screen and (max-width: 1000px) {
  .main {
    margin: 0px 16%;
    width: 65% !important;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 0px 14%;
    width: 70% !important;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    margin: 0px 2%;
    width: 90% !important;
  }
}
